:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3c92fa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background: url("./img/background-pepe.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao {
  background-color: var(--botao-azul);
  padding: 1em;
  border-radius: 5px;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
}

.container__botao:hover {
  color: var(--cor-de-fundo);
  background-color: var(--botao-azul-efeito);
  transition: 0.3s;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  color: var(--cinza-secundario);
  font-size: 12px;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario__imagem {
  width: 80%;
}

.container__descricao {
  padding: 2em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.botao_terciario {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
  margin: 2em 0;
}

.dispositivos__lista {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.lista__item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  width: 100%;
}

.rodape__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0 40px 0;
}

.rodape__lista {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 16px;
  margin-bottom: 2em;
}

.lista__link {
  text-decoration: none;
  color: var(--branco-principal);
}

.lista__link:hover {
  color: var(--botao-azul);
}
.lista__link:active {
  color: purple;
}

.rodape__texto {
  font-size: 14px;
  color: var(--cinza-secundario);
  text-align: center;
  margin: 0 120px;
  margin-bottom: 1em;
}
